.headbar {
    position: relative; /*Para alinhar a div que contém o input de criação de task, qualquer absolute alinha com relação a headbar*/
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12.5rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.logoContainer span {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 140%;
}

.logoContainer .firstLetters {
    color: var(--blue)
}

.logoContainer .secondLetters {
    color: var(--purple-dark)
}

.inputContainer form {
    display: flex;
    justify-content: space-between;
    position: absolute; /*Para alinhar com relação a headbar*/

    left: 50%; /* Move horizontalmente o canto esquerdo do .formContainer para o meio da headbar */

    transform: translateX(-50%); /* como o left estava no meio da headbar, este transform puxa a div metade do próprio tamanho para a esquerda, alinhando ele no centro.*/

    bottom: -1.5rem;

    gap: 0.5rem;
    width: min(100%, 46rem);
    
}

.inputContainer input {
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    flex-grow: 1;
    padding: 1rem;
    color: var(--gray-100);
    transition: border 0.2s;
}

.inputContainer input::placeholder {
    color: var(--gray-300);
    line-height: 140%;
}

/*Formatação para quando o usuário já escreveu algo, quando o placeholder some*/
.inputContainer input:not(:placeholder-shown) { 
    border: 1px solid var(--purple-dark)
}

.inputContainer button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--blue-dark);
    border: none;
    border-radius: 8px;
    transition: background-color 0.1s;
}

.inputContainer button:hover {
    background-color: var(--blue);
    cursor: pointer;
}

.inputContainer button img {
    width: 1rem;
    color: var(--gray-100);
}

.inputContainer button span {
    font-size: 0.875rem;
    color: var(--gray-100);
} 

@media (max-width: 768px) {
    .inputContainer form {
        padding: 0 3rem;
    }
}